/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  background-color: #333;
  color: white;
  position: fixed;
  width: 100%;
  top: 10;
  z-index: 10;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Navbar Left Section */
.navbar-left {
  display: flex;
  align-items: center;
}

.logo {
  height: 50px;
  margin-right: 12px;
}

.site-name {
  font-size: 24px;
  font-weight: bold;
  color: black;
}

/* Navbar Links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  color: black;
}

.nav-item {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 18px;
  cursor: pointer;
  color: black;
}

/* Dropdown Toggle */
.dropdown-toggle {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #050000;
  transition: color 0.3s ease;
}

.dropdown-toggle:hover {
  color: #00bcd4;
}

/* Rotate icon on active */
.rotate {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

/* Dropdown Menu */
.dropdown-menu {
  position: absolute;
  top: 50px;
  left: 0;
  background-color: #ffffff;
  border-radius: 2px;
  padding: 8px 0;
  min-width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: dropdownFade 0.3s ease;
}

@keyframes dropdownFade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Dropdown Items */
.dropdown-item {
  padding: 10px 16px;
  color: #000000;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dropdown-item:hover {
  background-color: #959a9c;
}

/* Navbar Buttons */
.nav-buttons {
  display: flex;
  gap: 16px;
}

.task-button, .signup-button {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.task-button {
  background-color: #020405;
  color: #fff;
}

.task-button:hover {
  background-color: #97999a;
  transform: scale(1.05);
}

.signup-button {
  background-color: #26797f;
  color: #fff;
}

.signup-button:hover {
  background-color: #357a38;
  transform: scale(1.05);
}

/* Responsive Design */
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-left, .nav-buttons {
    margin: 8px 0;
  }
}
